<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>채팅 채널 목록</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/channel_list.css') }}">
</head>
<body>
  <h2 style="text-align:center;">채팅 채널 목록</h2>
  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>채널명</th>
        <th>인원</th>
        <th>입장</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
        {% for channel in channels %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ channel.name }}</td>
          <td>{{ channel.current_users }} / {{ channel.max_users }}</td>
          <td><a href="/channel/{{ channel.id }}">입장</a></td>
        </tr>
        {% endfor %}
      </tbody>
      
    </tbody>
  </table>
  <br><br>
  <a href="/" class="btn">← 메인으로 돌아가기</a>
</body>
</html>
